@charset "utf-8";

html {
    height: 100vh;
}
body {
    font: 16px/1.5 "Noto Sans KR", sans-serif;
    background: url(../images/clock-bg.jpg) no-repeat center / cover;
}
a, a:link {
    color: inherit;
    text-decoration: none;
}
.d-none {
    display: none;
}
.header-top {
    color: white;
    border-bottom: 1px solid #fff;
    padding: 15px;
}
.top-wrap {
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.top-wrap h1 {
    text-transform: capitalize;
    font-size: 1rem;
}
.top-links {
    display: flex;
    column-gap: 15px;
}
.top-links li {
    font-size: 16px;
    text-transform: uppercase;
}
.top-links i {
    margin: 5px;
}
.article-wrap, #result_pop {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
}
#result_pop {
    z-index: 1000;
    background: white;
    border-radius: 1rem;
    text-align: center;
}
#result_pop h1 {
    font-size: 2rem;
    margin: 20px 10px;
}
#result_pop p {
    font-size: 1.25rem;
    padding: 10px;
}
#d_day strong {
    color: red;
}
article h3, article p {
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}
article h3 {
    font-size: 2.5rem;
    letter-spacing: -1px;
    margin: 30px 0;

}
article p {
    font-size: 1.3rem;
}
#calc {
    margin-top: 100px;
    font-size: 1.5rem;
    color: white;
    background: rgba(0, 0, 0, .5);
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
}
.form-list {
    margin-top: 50px;
}
.form-list li {
    display: flex;
    align-items: center;
    margin: 0 0 1rem 0;
}
.form-list li label{
    display: block;
    flex: 1;
    color: white;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}
.form-list li input {
    flex: 6;
    color: white;
}
.form-list li input::placeholder {
    text-indent: 1rem;
    color: white;
}
#user_year, #user_month, #user_date{
    padding: 1rem 0;
    background: none;
    border: 1px solid white;
}
#dday_calc {
    background: rgba(0, 0, 0, .5);
    color: white;
    flex: 200px;
    padding: 1rem 0;
    border-radius: 30px;
    border: 0;
    font-size: 16px;
}
#dday_reset {
    padding: 1rem 0;
    border-radius: 30px;
    border: 0;
    flex: 200px;
    font-size: 16px;
    color: black;
}
.form-list li:nth-last-child(1) {
    justify-content: center;
    column-gap: 15px;
}

/* ==============기존 스타일 마지막에 미디어 쿼리 권장!================== */
@media screen and (max-width: 480px) { /* 모바일 디바이스 크기 */
    .top-wrap {
        max-width: 100%;
        padding: 0 1rem;
        align-items: center;
    }
    .top-wrap h1 {
        text-transform: capitalize;
        font-size: 3.75rem;
    }
    #burger {
        display: inline-block;
        font-size: 1.5rem;
    }
    .article-wrap {
        max-width: 93.75%;
        left: 50%;
    }
    .top-links {
        display: none;
    }
}

